<!DOCTYPE html> 
<html>
    <form action="/" method="POST">
        <title> <%= winlossmsg %></title><br>
        <body style="font-family:verdana;">
            <h1>
                <%= winlossmsg %><br>
                You picked: <%= playerinputstring %> <br>
                Server picked: <%= serverinputstring %> <br>
                Player wins: <%= pwins %> <br>
                server wins: <%= swins %> <br>
                Total games: <%= gamesplayed %> <br>
            </h1>
                <input type="submit" value="Play Again!">
        </body>
    </form>
</html>
